
h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #443;
    margin: 0;
    padding: 0;
}
#tauler{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
#titols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

table{
    margin: 0;
    table-layout: fixed;
    border: #443 8px solid;
    /* width: 250px; */
    /* height: 250px; */
    /* background-color: #fdf5f5; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 0px 0px 1px #bdc3c7; */
    background-color: #443;
    border-spacing: 0;
}

td{
    /* border smallest line as posible */
    border: #443 1px solid;
    width:40px;
    height: 40px;
    background-color: #fdf5f5;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
    /* box-shadow: 0px 0px 0px 1px #bdc3c7; */
}

#vaixells{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
#divTaula1{
    margin-left: 10%;
}
#divTaula2{
    margin-right: 10%;
}
#vtaula1{
    border: #443 5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    margin-left: 10%;
}
#vtaula2{
    border: #443 5px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    margin-right: 10%;
}
/* #v1{
    width: 25%;
}
#v2{
    width: 100px;
}
#v3{
    height: 400px;
}
#v4{
    height: 5%;
}
#v5{
    width: 25%;
}
#v6{
    width: 25%;
}
#v7{
    width: 25%;
} */

.tdPadre {
    position: relative;
  }
.elementoVertical{
    position: absolute;
    top: 3px;
    left: 2px;
    width: 90%;
    z-index: 1;
  }
